.background-img {
    background-image: url('../../../assets/background-img.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
}
.home-bg {
    background-image: url('../../../assets/home-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}