 <div class="container-fluid">
        <div class="bg-success">
            <h2 class="headings py-5">Instagram Feed</h2>
            <div class="row">
                <div class="col-6 col-sm-4 col-md-2 mb-3">
                    <img src="../../../assets/category1.png" class="img-fluid insta" alt="Category 1">
                </div>
                <div class="col-6 col-sm-4 col-md-2 mb-3">
                    <img src="assets/category2.png" class="img-fluid insta" alt="Category 2">
                </div>
                <div class="col-6 col-sm-4 col-md-2 mb-3">
                    <img src="assets/category3.png" class="img-fluid insta" alt="Category 3">
                </div>
                <div class="col-6 col-sm-4 col-md-2 mb-3">
                    <img src="assets/category4.png" class="img-fluid insta" alt="Category 4">
                </div>
                <div class="col-6 col-sm-4 col-md-2 mb-3">
                    <img src="assets/category4.png" class="img-fluid insta" alt="Category 4">
                </div>
                <div class="col-6 col-sm-4 col-md-2 mb-3">
                    <img src="assets/category5.png" class="img-fluid insta" alt="Category 5">
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid px-0">
    <div class="bg-quinary pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <span class="text-info">Company</span>
                    <p class="mt-2">A line of pure, bespoke and Ayurvedic results-driven skin and hair care made from
                        certified
                        organic
                        and wildcrafted ingredients collected from across India...read more</p>
                </div>
                <div class="col-md-2">
                    <span class="text-info">Shop</span>
                    <ul type="none" class="mt-2">
                        <li>Candle 1</li>
                        <li>Candle 1</li>
                        <li>Candle 1</li>
                        <li>Candle 1</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <span class="text-info">About</span>
                    <ul type="none" class="mt-2">
                        <li>Candle 1</li>
                        <li>Candle 1</li>
                        <li>Candle 1</li>
                        <li>Candle 1</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <span class="text-info">Help</span>
                    <ul type="none" class="mt-2">
                        <li>Candle 1</li>
                        <li>Candle 1</li>
                        <li>Candle 1</li>
                        <li>Candle 1</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <span class="text-info">Stay Updated</span>
                    <p class="mt-2">Sign Up for our newsletter to know all about launches & offers!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-footer text-center py-2">Flat 25% off on all shopping</div>
</div>